<?php /** @var $this RedboxDigital_Linkedin_Block_Customer_Block_Widget_Linkedinprofile */ ?>

<label for="<?php echo $this->getFieldId('linkedin_profile')?>"<?php if ($this->isRequired()) echo ' class="required"' ?>><?php if ($this->isRequired()) echo '<em>*</em>' ?><?php echo $this->__('Linkedin Profile') ?></label>
<div class="input-box">
    <input type="text" id="<?php echo $this->getFieldId('linkedin_profile')?>" name="<?php echo $this->getFieldName('linkedin_profile')?>" value="<?php echo $this->getValue() ?>" title="<?php echo $this->__('Linkedin Profile') ?>" class="input-text <?php echo $this->getAttributeValidationClass(); ?>" <?php echo $this->getFieldParams() ?> />
</div>